@page "/getEmployees"
@using BlazorApp.Interfaces
@using BlazorApp.Data
@inject IEmployeeService EmployeeService

@if (employees.Any() && employees != null)
{
    <div class="container">
        <h2>Current Employees:</h2>
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>HireDate</th>
                            <th>Department</th>
                            <th>Salary</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < employees.Count; ++i)
                        {
                            <tr id="@employees[i].Id">
                                <td>@employees[i].Name</td>
                                <td>@employees[i].Email</td>
                                <td>@employees[i].Phone</td>
                                <td>@employees[i].HireDate</td>
                                <td>@employees[i].Department.ToString()</td>
                                @if (employees[i].IsNetSalary)
                                {
                                    <td>@($"{employees[i].Salary} {employees[i].PreferedCurrency.ToString()}(Net)")</td>
                                }
                                else
                                {
                                    <td>@($"{employees[i].Salary} {employees[i].PreferedCurrency.ToString()}(Gross)")</td>
                                }
                                <td>
                                    <div class="toooltip">
                                        <button class="btn btn-success" onclick="ModifyTransaction(this)" id="ModifyTransaction"><i class="fas fa-edit"></i></button>
                                        <span class="tooltiptext">Modify</span>
                                    </div>

                                    <div class="toooltip">
                                        <button id="delete" onclick="RevealModal(this)" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                                        <span class="tooltiptext">Delete</span>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <h3>Currently, there are no Employees!</h3>
}
@code {
    private List<Employee>? employees;

    protected override void OnInitialized()
    {
        employees = EmployeeService.GetAllEmployees();
    }
}
